body{
    background-color: darkblue;
}

#text{
    background-color: black;
    color: white;
    padding: 10px;
}

#game {
    max-width: 500px;
    max-height: 200px;
    background-color: lightgray;
    margin: 0 auto;
    padding: 5px;
    border: 4px outset;
}

#controls{
    border: 0.5px solid black;
    padding: 5px;
}

#stats{
    border: 1px outset;
    padding: 5px;
}

#monsterStats{
    display: none;
    border: 1px solid black;
    color: white;
    padding: 5px;
    background-color: red;
}

.stat{
    padding-right: 10px;
}